@mixin grid-t-c($waarde){
  -webkit-grid-template-columns: $waarde;
     -moz-grid-template-columns: $waarde;
      -ms-grid-template-columns: $waarde;
       -o-grid-template-columns: $waarde;
          grid-template-columns: $waarde;

}

@mixin grid-r-c($waarde){
  -webkit-grid-template-rows: $waarde;
     -moz-grid-template-rows: $waarde;
      -ms-grid-template-rows: $waarde;
       -o-grid-template-rows: $waarde;
          grid-template-rows: $waarde;

}
